@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif; 
}


display-flex,
.display-flex,
.display-flex-center,
.signup-conter,
.signin-content ,
.social-login ,
.social {
   display: flex;
   display:-webkit-flex;
}

list-type-ulli , 
.socials {
  list-style-type: none;
  margin:0;
  padding:0;
}

a:focus ,
a:active {
  text-decoration: none;
  outline:none;
}

.main {
  height: 100vh;
  background: #f8f8f8;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}


.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }


.home_page  {
  background-image: url('./images/background.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}



.clear {
  clear:both;
}

.contact_info_item:last-child {
  margin-bottom:0px;
}


